<%- include("../partials/header", {title: "New Post"}) %>
<%- include("../partials/navbar") %>
<main>
    <h1 class="text-center">Edit Post</h1>
    <section class="container-fluid">
        <form method="POST" action="/posts/<%= id %>?_method=PUT">
            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" class="form-control form-control-lg" id="title" name="title" placeholder="Title" value="<%= title %>">
            </div>
            <div class="form-group">
                <label for="content">Post Text</label>
                <textarea class="form-control form-control-lg" id="content" name="content"
                    placeholder="What's on your mind?" rows="10"><%= content %></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-danger">Save</button>
        </form>
    </section>
</main>
<%- include("../partials/footer") %>